body{
    background-color: rgb(2, 36, 53);
}
.contenedor{
    background-color: #CEF6FF;
    margin: 6rem auto;
    height: 33rem;
    width: 35rem;
    border-radius: 1rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor div{
    background-color: #345064;
    /* background-image: url("../imagenes/x.png"); */
    /* background-size: cover; */
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
    margin: 1rem;
    
}
.contenedor div img{
    height: 8rem;
    width: 8rem;
    object-fit: fill;
}